In [1]:
import os
from PIL import Image
import time
import pandas as pd

In [4]:
data_root = '.\\..\\data_raw'

# STATS

In [5]:
class_paths = [f.path for f in os.scandir(data_root) if f.is_dir()]

In [6]:
for c in class_paths:
    subcategory_paths = [f.path for f in os.scandir(c) if f.is_dir()]
    subcategories = [os.path.basename(os.path.normpath(x)) for x in subcategory_paths]
    print(subcategories)

['amazon', 'game', 'news', 'other', 'pinterest', 'reddit', 'shopping', 'youtube']
['Art', 'Astronomy', 'Biology', 'Chemistry', 'Data Analytics', 'Genetics', 'Literature', 'Management', 'Philosophy', 'Social Politics']

In [7]:
d = []
for c in class_paths:
    cat = os.path.basename(os.path.normpath(c))
    subcategory_paths = [f.path for f in os.scandir(c) if f.is_dir()]
    for subc in subcategory_paths:
        subcat = os.path.basename(os.path.normpath(subc))
        division_paths = [f.path for f in os.scandir(subc) if f.is_dir()]
        for div in division_paths:
            division = os.path.basename(os.path.normpath(div))
            _, _, files = next(os.walk(div))
            d.append({"class": cat, "subcategory":subcat, "window":division, "samples":len(files)})

In [8]:
df = pd.DataFrame(d)

In [9]:
df

         class      subcategory   window  samples
0   distracted           amazon      one       90
1   distracted           amazon  partial        0
2   distracted             game      one        0
3   distracted             game  partial      138
4   distracted             news      one       47
5   distracted             news  partial        0
6   distracted            other      one        9
7   distracted            other  partial       21
8   distracted        pinterest      one       55
9   distracted        pinterest  partial        0
10  distracted           reddit      one       96
11  distracted           reddit  partial        0
12  distracted         shopping      one        0
13  distracted         shopping  partial      159
14  distracted          youtube      one      111
15  distracted          youtube  partial       11
16     focused              Art      one       95
17     focused              Art  partial        0
18     focused        Astronomy      one      150
19     focused        Astronomy  partial        0
20     focused          Biology      one       13
21     focused          Biology  partial      126
22     focused        Chemistry      one      157
23     focused        Chemistry  partial        0
24     focused   Data Analytics      one       11
25     focused   Data Analytics  partial      134
26     focused         Genetics      one       81
27     focused         Genetics  partial       44
28     focused       Literature      one       64
29     focused       Literature  partial        0
30     focused       Management      one       29
31     focused       Management  partial      273
32     focused       Philosophy      one        4
33     focused       Philosophy  partial      140
34     focused  Social Politics      one      161
35     focused  Social Politics  partial        0

In [10]:
df.groupby(['window']).sum()

         samples
window
one         1173
partial     1046

In [11]:
df.groupby(['class']).sum()

            samples
class
distracted      737
focused        1482

In [12]:
df.groupby(['class', 'subcategory']).sum()

                            samples
class      subcategory
distracted amazon                90
           game                 138
           news                  47
           other                 30
           pinterest             55
           reddit                96
           shopping             159
           youtube              122
focused    Art                   95
           Astronomy            150
           Biology              139
           Chemistry            157
           Data Analytics       145
           Genetics             125
           Literature            64
           Management           302
           Philosophy           144
           Social Politics      161

# Creating new clean folder

In [13]:
clean_root = '.\\..\\datasets\\data_clean'

In [14]:
counter = dict()
for c in class_paths:
    cat = os.path.basename(os.path.normpath(c))
    counter[cat] = 0
    os.makedirs(os.path.join(clean_root, cat))
    subcategory_paths = [f.path for f in os.scandir(c) if f.is_dir()]
    for subc in subcategory_paths:
        subcat = os.path.basename(os.path.normpath(subc))
        division_paths = [f.path for f in os.scandir(subc) if f.is_dir()]
        for div in division_paths:
            division = os.path.basename(os.path.normpath(div))
            _, _, files = next(os.walk(div))
            for file in files:
                im = Image.open(os.path.join(div, file))
                filemame = cat + '_' + subcat + '_' + division + '_' + str(counter[cat]) + '.jpg'
                if 'png' in file:
                    im = im.convert('RGB')
                im.save(os.path.join(clean_root, cat, filemame))
                counter[cat] += 1