In [1]:
import os
from PIL import Image
import time
import pandas as pd

In [2]:
data_root = '.\\..\\data_raw'

# STATS

In [3]:
class_paths = [f.path for f in os.scandir(data_root) if f.is_dir()]

In [4]:
for c in class_paths:
    subcategory_paths = [f.path for f in os.scandir(c) if f.is_dir()]
    subcategories = [os.path.basename(os.path.normpath(x)) for x in subcategory_paths]
    print(subcategories)

['amazon', 'blogs', 'facebook', 'food', 'games', 'instagram', 'maps', 'news', 'other', 'pinterest', 'reddit', 'shopping', 'sports', 'tiktok', 'travel', 'twitch', 'twitter', 'youtube']
['Algorithms', 'Art', 'Astronomy', 'Biology', 'Business', 'Chemistry', 'ClinicalPractium', 'ComputerScience', 'Data Analytics', 'DrugBiology', 'English', 'Ethics', 'extra', 'GenderSexuality', 'GeneralPhysics', 'Genetics', 'InternationalSocialJustice', 'IntroductionToEthics', 'IntroductionToPsychology', 'IntroGenderSexuality', 'LatinAmericanGovPolitics', 'LinearAlgebra', 'Literature', 'Management', 'Marketing', 'Neuroscience', 'neutral', 'other', 'Pharmacology', 'Philosophy', 'Phisiology', 'PhysicalChemistry', 'Physics', 'Politics', 'Principles&Practice', 'ProfessionalPractices', 'QuantitativeAnalysis', 'Race&Racism', 'ReadingFilm', 'ReadingLiterature', 'Social Politics', 'VRdevelopment']

In [5]:
d = []
for c in class_paths:
    cat = os.path.basename(os.path.normpath(c))
    subcategory_paths = [f.path for f in os.scandir(c) if f.is_dir()]
    for subc in subcategory_paths:
        subcat = os.path.basename(os.path.normpath(subc))
        division_paths = [f.path for f in os.scandir(subc) if f.is_dir()]
        for div in division_paths:
            division = os.path.basename(os.path.normpath(div))
            _, _, files = next(os.walk(div))
            d.append({"class": cat, "subcategory":subcat, "window":division, "samples":len(files)})

In [6]:
df = pd.DataFrame(d)

In [7]:
df

          class        subcategory   window  samples
0    distracted             amazon      one      182
1    distracted             amazon  partial       74
2    distracted              blogs      one      288
3    distracted              blogs  partial       90
4    distracted           facebook      one       21
..          ...                ...      ...      ...
115     focused  ReadingLiterature  partial        0
116     focused    Social Politics      one      157
117     focused    Social Politics  partial        0
118     focused      VRdevelopment      one       65
119     focused      VRdevelopment  partial        0

[120 rows x 4 columns]

In [8]:
df.groupby(['window']).sum()

C:\Users\ADHD Project\AppData\Local\Temp\ipykernel_18944\4182530805.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['window']).sum()

         samples
window
one         9879
partial     4312

In [9]:
df.groupby(['class']).sum()

C:\Users\ADHD Project\AppData\Local\Temp\ipykernel_18944\624196825.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['class']).sum()

            samples
class
distracted     5013
focused        9178

In [10]:
df.groupby(['class', 'window']).sum()

C:\Users\ADHD Project\AppData\Local\Temp\ipykernel_18944\1982953666.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['class', 'window']).sum()

                    samples
class      window
distracted one         3354
           partial     1659
focused    one         6525
           partial     2653

In [11]:
df.groupby(['class', 'subcategory']).sum()

C:\Users\ADHD Project\AppData\Local\Temp\ipykernel_18944\1882247642.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['class', 'subcategory']).sum()

                                       samples
class      subcategory
distracted amazon                          256
           blogs                           378
           facebook                         24
           food                             35
           games                           861
           instagram                       107
           maps                             29
           news                            168
           other                           416
           pinterest                       161
           reddit                          201
           shopping                        499
           sports                           68
           tiktok                           61
           travel                           71
           twitch                          120
           twitter                         785
           youtube                         773
focused    Algorithms                      325
           Art                              93
           Astronomy                       269
           Biology                         164
           Business                        120
           Chemistry                       799
           ClinicalPractium                127
           ComputerScience                 476
           Data Analytics                  145
           DrugBiology                     223
           English                         114
           Ethics                           53
           GenderSexuality                 126
           GeneralPhysics                   10
           Genetics                        122
           InternationalSocialJustice      445
           IntroGenderSexuality             65
           IntroductionToEthics             59
           IntroductionToPsychology         37
           LatinAmericanGovPolitics        310
           LinearAlgebra                   133
           Literature                      213
           Management                      348
           Marketing                       139
           Neuroscience                     41
           Pharmacology                    141
           Philosophy                      372
           Phisiology                      146
           PhysicalChemistry                11
           Physics                          70
           Politics                        329
           Principles&Practice              81
           ProfessionalPractices           186
           QuantitativeAnalysis            232
           Race&Racism                     178
           ReadingFilm                      16
           ReadingLiterature                36
           Social Politics                 157
           VRdevelopment                    65
           extra                           283
           neutral                         170
           other                          1749

# Creating new clean folder

In [12]:
clean_root = '.\\..\\datasets\\data_clean_xlarge'

In [13]:
counter = dict()
for c in class_paths:
    cat = os.path.basename(os.path.normpath(c))
    counter[cat] = 0
    os.makedirs(os.path.join(clean_root, cat))
    subcategory_paths = [f.path for f in os.scandir(c) if f.is_dir()]
    for subc in subcategory_paths:
        subcat = os.path.basename(os.path.normpath(subc))
        division_paths = [f.path for f in os.scandir(subc) if f.is_dir()]
        for div in division_paths:
            division = os.path.basename(os.path.normpath(div))
            _, _, files = next(os.walk(div))
            for file in files:
                im = Image.open(os.path.join(div, file))
                filemame = cat + '_' + subcat + '_' + division + '_' + str(counter[cat]) + '.jpg'
                if 'png' in file:
                    im = im.convert('RGB')
                im.save(os.path.join(clean_root, cat, filemame))
                counter[cat] += 1